@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex, nofollow">
    <link href="/Content/styleMain.css" rel="stylesheet"/>
</head>
<body>
    <div style="margin: 30px;">
        <h1>Page Not Found</h1>
    </div>
</body>
</html>