@{
    Layout = null;
}
    <div id="report-menu" data-role="view" data-use-native-scrolling="true">
        <header data-role="header">
            <div data-role="navbar">
                <a id="back-button" class="nav-button" data-align="right" data-role="backbutton">Back</a>
            </div>
        </header>
        <div class="icon_box"><a href="/OfficerPortal/DailyActivityReport" target="_blank"><img src="/images/a.png" class="report-icon-image"><br />Daily</a></div>

        <div class="icon_box"><a href="/OfficerPortal/SiteCheckReport" target="_blank"><img src="/images/a.png" class="report-icon-image"><br />SiteCheck</a></div>

        <div class="icon_box"><a href="/OfficerPortal/IncidentReport" target="_blank"><img src="/images/b.png" class="report-icon-image"><br />Incident</a></div>

        <div class="icon_box"><a href="/OfficerPortal/MaintenanceRequest" target="_blank"><img src="/images/c.png" class="report-icon-image"><br />Maintenance</a></div>

        <div class="icon_box"><a href="/OfficerPortal/IncidentChecklist" target="_blank"><img src="/images/d.png" class="report-icon-image"><br />Checklist</a></div>

        <div class="icon_box"><a href="/OfficerPortal/PassOnLog" target="_blank"><img src="/images/e.png" class="report-icon-image"><br />Write POL</a></div>

        <div class="icon_box"><a href="/OfficerPortal/PassOnLogRead" target="_blank"><img src="/images/f.png" class="report-icon-image"><br />Read POL</a></div>

        <div class="icon_box"><a href="/OfficerPortal/ParkingViolation" target="_blank"><img src="/images/j.png" class="report-icon-image"><br />Parking</a></div>

        <div class="icon_box"><a href="/OfficerPortal/TemperatureLog" target="_blank"><img src="/images/k.png" class="report-icon-image"><br />Temperatures</a></div>

        <div class="icon_box"><a href="/OfficerPortal/TruckLog" target="_blank"><img src="/images/g.png" class="report-icon-image"><br />In</a></div>

        <div class="icon_box"><a href="/OfficerPortal/TruckLogOut" target="_blank"><img src="/images/h.png" class="report-icon-image"><br />Out</a></div>

        <div class="icon_box"><a href="/OfficerPortal/PostOrders" target="_blank"><img src="/images/Orders.png" class="report-icon-image"><br />Post Orders</a></div>

        <div class="icon_box"><a href="/OfficerPortal/VisitorLog" target="_blank"><img src="/images/visitor-login.png" class="report-icon-image"><br />Visitor In</a></div>

        <div class="icon_box"><a href="/OfficerPortal/VisitorLogOut" target="_blank"><img src="/images/visitor-logout.png" class="report-icon-image"><br />Visitor Out</a></div>

        <div class="icon_box"><a href="/OfficerPortal/PolicyManual" target="_blank"><img src="/images/policy-manual.png" class="report-icon-image"><br />Policy Manual</a></div>

        <div class="icon_box"><a href="/OfficerPortal/VacationRequest" target="_blank"><img src="/images/vacation-request.png" class="report-icon-image"><br />Request</a></div>

        <div class="icon_box"><a href="/OfficerPortal/VacationRequestRead" target="_blank"><img src="/images/vacation.png" class="report-icon-image"><br />TO Review</a></div>

        <div class="icon_box"><a href='@Url.Action("LogOff", "Account")'><img src="/images/i.png" class="report-icon-image"><br />Sign Out</a></div>

        <div style="clear:both;"></div>
    </div>