@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OfficerReports - Terms and Conditions Change</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap/css/bootstrap-scope.css" rel="stylesheet" />
    <link href="~/Content/kendoui/v2016.1.322/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoui/v2016.1.322/kendo.uniform.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: Arial;
        }
    </style>
</head>
<body style="padding-top:40px;">
    <div class="main-content" style="width:840px;margin: 0 auto;">
        <div style="width:100%;">
            <img src="~/Images/logo.png" alt="Logo" style="width:250px;" />
        </div>
        <div style="padding:12px;background-color:#EFECEC;width:100%;">
            <div style="margin-bottom:8px;margin-top:8px;">
                <strong><span style="font-size:18px;">Terms and Conditions Change - Must Be Agreed Upon Before Continuing</span></strong><br />
                <span id="last-modified">Last modified September 9, 2016</span>
            </div>
            <div id="terms-display" style="background-color:white;width:800px;height:500px;overflow-y:scroll;border: 1px solid darkgrey;padding: 6px 16px;">
                <p>
                    The following (hereinafter referred to as the “Agreement”) are the terms and conditions for use of the OfficerReports.com hosted software product and service, downloadable components and documentation (referred to collectively as the "Service") between OfficerReports, LLC (hereinafter referred to as “us”, “we” or "OfficerReports.com) and “You” (whether in your individual capacity or in your capacity as an employee, agent or representative of a legal entity).
                    <br /><br />
                    PLEASE READ THIS AGREEMENT CAREFULLY. BY CLICKING THE "I ACCEPT" BUTTON, YOU AGREE TO BE BOUND BY THIS AGREEMENT, YOU AGREE TO THE OFFICERREPORTS.COM PRIVACY POLICY AND, IF YOUR LEVEL OF SERVICE INCLUDES SLA, YOU ALSO AGREE TO THE OFFICERREPORTS.COM SERVICE LEVEL AGREEMENT.
                    <br /><br />
                    IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MAY NOT USE THE SERVICE. PLEASE PRINT A COPY OF THIS AGREEMENT FOR YOUR RECORDS.
                </p>
                <p><strong>1. TERM, RENEWAL AND TERMINATION</strong></p>
                <p>
                    The term of this Agreement shall be month-to-month, yearly, or as otherwise defined by the parties in writing. Trial accounts have a term of thirty (30) days and, if a trial account is not converted to a paying account, it shall expire at the end of its term.
                    <br /><br />
                    This Agreement renews automatically for another term of equal length at the end of each term, unless it is previously terminated by either party. In order to terminate an Agreement with an annual term, You must provide Us with thirty (30) day written notice prior to such termination. In order to terminate a monthly Agreement, You must make a written request to OfficerReports.com by emailing us at <a href="mailto:techsupport@OfficerReports.com">techsupport@OfficerReports.com</a>.
                    <br /><br />
                    Either party may terminate this Agreement upon thirty (30) days prior written notice in the event of a material breach that is not cured within thirty (30) days after notice of such breach. If You are in breach of this agreement OfficerReports.com will try to contact You by email, phone, or in app communication to inform You.
                    <br /><br />
                    Terminations that occur in the middle of a payment term (month, quarter, or year depending on agreement of the parties) shall become effective on the cancellation date. Accounts will not receive refunds for prepayment. You will be charged for the billing period in which You terminate Your account according to the terms of this Agreement.
                    <br /><br />
                    Upon the expiration or termination of the Agreement, You must cease using the Service and immediately remove all references to OfficerReports.com from Your website. Your account, including all of its data, will be archived unless there remains an outstanding balance on Your account.
                </p>
                <p><strong>2. LICENSE</strong></p>
                <p>
                    For the term of the Agreement, OfficerReports.com grants to You a limited, non-transferable, non-exclusive right to access and use the Service solely for Your internal business use. The Service is made available to You as a hosted service. We host and retain physical control over the software and make it available for access and use only by You and Your end users over the Internet through a web-browser. Nothing obligates OfficerReports.com to deliver or make available any copies of its computer programs or code from the software to You.
                    <br /><br />
                    You may not rent, lease, distribute, or resell the Service, or use the Service as the basis for developing a competitive solution or service (or contract with a third party to do so), or remove or alter any of the logos, branding, trademark, patent or copyright notices, confidentiality or proprietary legends or other notices or markings that are on or in the Service.
                </p>
                <p><strong>3. USAGE RULES</strong></p>
                <p>
                    The Service is offered to help with the operation of Your business.
                    <br /><br />
                    You may not subscribe to or access the Service if You are a direct competitor of OfficerReports.com. You may not access the Service for purposes of monitoring its availability, performance or functionality, or for any other benchmarking or competitive purposes. You may not allow any employee, third party, or consultant to perform any technical security integrity review, penetration test, load test, denial-of-service simulation or vulnerability scan unless You first obtain written authorization from OfficerReports.com to do so
                    <br /><br />
                    You agree not to use the Service to: (i) conduct any business that is unlawful, (ii) infringe or otherwise violate a third party's rights, (iii) collect information about third parties without their express consent; (iv) interfere with or disrupt the integrity or performance of the Service or the data contained therein, (v) send spam or otherwise duplicative or unsolicited messages in violation of applicable laws; (vi) send or store infringing, obscene, pornographic, threatening, libelous, or otherwise unlawful or tortuous material, including material harmful to children or violative of third party privacy rights; (vii) send or store material containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or programs; (viii); attempt to gain unauthorized access to the Service or its related systems or networks, or (ix) falsify the origin of an email by forging the sender address or email header.
                    <br /><br />
                    OfficerReports.com reserves the right to disclose any information or materials as necessary to satisfy any applicable law, regulation, legal process or government request, or to edit, refuse to post, or to remove any information or materials, in whole or in part, from the Service, at OfficerReports.com's sole discretion, without any prior notice to You.
                </p>
                <p><strong>4. FREE TRIAL</strong></p>
                <p>
                    If You are using the Service pursuant to a Free Trial by OfficerReports.com, You agree (i) that Your account and its applications will be disabled for the remainder of any month if it exceeds reasonable allocated capacity and resources as solely determined by OfficerReports.com, (ii) that OfficerReports.com is not liable for any loss or damage caused as a result of this practice, (iii) that You will not hide or otherwise tamper with OfficerReports.com branding on Your Apps, Forms, and Reports (iv) that You maintain accurate and up to date contact information, (v) that You do not sign up for more than one free trial, and (vi) to receive sales and marketing emails from us and our partners.
                    <br /><br />
                    OfficerReports.com at its sole discretion may immediately terminate this Agreement and Your access to the Service in the event You breach or fail to meet any of the above requirements. OfficerReports.com reserves the right, at its sole discretion, to discontinue Your free trial at any time.
                </p>
                <p><strong>5. SUSPENSION DUE TO HARM</strong></p>
                <p>
                    OfficerReports.com may suspend Your account if it reasonably concludes that Your access to or use of the Service is unlawful, causes immediate harm to OfficerReports.com and/or others, or is in breach of this Agreement. If we suspend Your access to the Service, we will use commercially reasonable efforts to notify You in order to resolve the issues causing the suspension of Service. OfficerReports.com shall not be liable to You or to any third party for any suspension of the Service under such circumstances. It is Your responsibility to ensure that Your contact information is accurate for the purpose of providing You with notice pursuant to the terms of this Agreement.
                </p>
                <p><strong>6. PAYMENTS AND FEES</strong></p>
                <p>
                    Payment for the Service will be made in advance by a payment method accepted by OfficerReports.com. If You are completing a Free Trial, Service will not commence until Your Fees and any other charges (hereinafter referred to as the “Fees”) have been paid. Fees for the use of the Service and for any add-ons and overages are described on the Payment Authorization Form or the OfficerReports.com website. These Fees may change from time to time. If we change the Fees, We will give you at least 30 days' notice. If the Fees change, your continued use of the Service after the effective date indicates your assent to the new Fees. Any change to the Fees will not be effective until the term of the Agreement following the term in which the change takes place, if any.
                    <br /><br />
                    <b>i.</b> If you begin paying for the Service after June 26, 2016, as long as You use the Service or have an outstanding balance with us, You must provide OfficerReports.com with valid credit/debit card information and authorize OfficerReports.com to deduct Your fees or charges against that credit card. You must also replace the information for any credit card that expires with information for a valid one. Anyone using a credit/debit card represents and warrants that they are authorized to use that credit/debit card, and that any and all charges may be billed to that credit/debit card and won’t be rejected. If OfficerReports.com is unable to process Your credit/debit card payment, OfficerReports.com will try to contact You by email, phone, or in app communication to inform You. If we are unable to process payment against the credit/debit card on file after 48hours, OfficerReports.com will suspend Your account until Your payment can be processed.
                    <br /><br />
                    <b>ii.</b> If You began paying for the service prior to June 26, 2016, placing a credit/debit card on file is not required and You may continue paying your fees using your current method. But if You are currently enrolled in the OfficerReports.com Auto-Pay program, You agree to continue providing OfficerReports.com with valid credit/debit card information and authorize OfficerReports.com to deduct Your fees or charges against that credit/debit card. You must replace the information for any credit/debit card that expires with information for a valid one. Anyone using a credit/debit card represents and warrants that they are authorized to use that credit/debit card, and that any and all charges may be billed to that credit/debit card and won’t be rejected. If OfficerReports.com is unable to process Your credit/debit card payment, OfficerReports.com will try to contact You by email, phone, or in app communication to inform You. If we are unable to process payment against the credit/debit card on file after 48hours OfficerReports.com will suspend Your account until your payment can be processed.
                    <br /><br />
                    <b>iii.</b> If You began paying for the service prior to June 26, 2016 and Your services are suspended for non-payment, you will be required to place a credit/debit card on file for all future Fees. Additionally, based on Your payment history, OfficerReports.com, at its sole discretion, may require You to place a credit/debit card on file for continued use of the Service. If OfficerReports.com makes such determination, You must provide OfficerReports.com with valid credit/debit card information and authorize OfficerReports.com to deduct Your fees against that credit/debit card. You must replace the information for any credit card that expires with information for a valid one. Anyone using a credit/debit card represents and warrants that they are authorized to use that credit/debit card, and that any and all charges may be billed to that credit/debit card and won’t be rejected. If OfficerReports.com is unable to process Your credit/debit card payment, OfficerReports.com will try to contact You by email, phone, or in app communication to inform You. If we are unable to process payment against the credit/debit card on file after 48 hours, OfficerReports.com will suspend Your account until Your payment can be processed.
                    <br /><br />
                    <b>iv.</b> As a general rule, OfficerReports.com does not accept checks for payment. If acceptable to OfficerReports.com, checks (including e-checks or those sent by mail) may be accepted for prepayments of at least six months.
                </p>
                <p><strong>7. LATE PAYMENT</strong></p>
                <p>
                    All Fees are billed in advance according to Your chosen billing cycle. Any overage fees or additional subscriptions fees are billed monthly in arrears. All Fees shall be paid in United States dollars. If undisputed Fees are not paid within thirty (30) days of the date they become due, Your account may be suspended at OfficerReports.com’s sole discretion without further notification. Reactivation of a suspended account requires the payment of all outstanding Fees and a reactivation fee of $50. If your account is suspended for more than thirty (30) calendar days, OfficerReports.com reserves the right to delete all of Your account information including, but not restricted to, reports, usernames, passwords, gps location information, and pictures.
                    <br /><br />
                    In the event you dispute any Fees, You must notify OfficerReports.com in writing within seven(7)days prior to the end of the term in which the Fees were incurred and provide reasonable detail regarding the nature of the dispute.
                </p>
                <p><strong>8. OWNERSHIP OF INTELLECTUAL PROPERTY</strong></p>
                <p>
                    You have the right to access the data that you, your employees and agents or your app users upload or submit to your account in the course of using the Service (hereinafter the "Customer Data"). You, not OfficerReports.com, shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of Customer Data, and OfficerReports.com shall not be responsible or liable for the deletion, correction, destruction, damage, loss or failure to store any Customer Data. OfficerReports.com reserves the right to withhold, remove and/or discard Customer Data without prior notice to Youfor any breach of this Agreement, including, without limitation, Your non-payment of Fees. Upon termination of this Agreement for cause, your right to access or use Customer Data immediately ceases, and OfficerReports.com shall have no obligation to maintain or forward any Customer Data.
                    <br /><br />
                    If you account was in good standing at the time it was terminated, OfficerReports.com will maintain Customer Data in order to give You the ability to access Customer Data at some future time. After Your account has been terminated, OfficerReports.com will allow You to access Customer Data after (i) it verifies Your right to access the Customer Data, and (ii) it receives Your payment of a $50.00 reactivation fee.
                    <br /><br />
                    By using or accessing OfficerReports.com, You agree that OfficerReports.com can collect and use content and information for internal purposes. OfficerReports.com shall own all rights, title and interest in and to all intellectual property rights in the Service and software, as well as its transactional and performance data. The license granted to You does not convey any rights in the Service, express or implied, or ownership in the Service or any intellectual property rights thereto. Any rights not expressly granted herein are reserved by OfficerReports.com.
                </p>
                <p><strong>9. UPGRADES AND UPDATES</strong></p>
                <p>
                    OfficerReports.com reserves the right to enhance, upgrade, or modify the Service with or without notice to You. At OfficerReports.com's sole discretion, upgrades and updates may be made available to You free of charge, and some other features and functionalities may require additional fees if You choose to use them.
                </p>
                <p><strong>10. CONFIDENTIAL INFORMATION</strong></p>
                <p>
                    For purposes of this Agreement, confidential information shall include Customer Data, and any information that is clearly identified in writing at the time of disclosure as confidential ("Confidential Information"). Each party shall: (a) keep confidential all Confidential Information disclosed to it by the other party or by a third-party; (b) not use the Confidential Information of the other party except to the extent necessary to perform its obligations or exercise rights under this Agreement; and (c) protect the confidentiality thereof in the same manner as it protects the confidentiality of similar information and data of its own (at all times exercising at least a reasonable degree of care in the protection of such Confidential Information). Either party may disclose Confidential Information on a need-to-know basis to its employees or contractors who have executed written agreements requiring them to maintain such information in strict confidence and use it only to facilitate the performance of their services in connection with the performance of the Services. Confidential Information shall not include information which: (1) is known publicly; (2) is generally known in the industry before disclosure; (3) has become known publicly, without fault of the recipient, subsequent to disclosure by the disclosing party; or (4) the recipient becomes aware of from a third party not bound by non-disclosure obligations to the disclosing party and with the lawful right to disclose such information to the recipient. Notwithstanding the foregoing, this Section will not prohibit the disclosure of Confidential Information to the extent that such disclosure is required by law or order of a court or other governmental authority or regulation. With respect to any information received by either party from the other as a result of any other relationship between the parties other than in the course of performance here under (e.g., business development, partnership, alliance, etc.), the parties will abide by the terms and conditions of any applicable Nondisclosure Agreement (or similar agreement) executed between the parties.
                </p>

                <p><strong>11. TAXES</strong></p>
                <p>
                    All payments, fees and other charges payable by You to OfficerReports.com pursuant to this Agreement are exclusive of all federal, state, local and foreign taxes, levies and assessments. You are responsible for the payment of all such taxes, levies and assessments imposed on You or OfficerReports.com arising out of this Agreement, excluding any tax based on OfficerReports.com's net income.
                </p>

                <p><strong>12. PROTECTED HEALTH INFORMATION </strong></p>
                <p>
                    You acknowledge that you will not use OfficerReports.com to capture and store any “Protected Health Information” including Self-Reported Information and Genetic Information, to which patients are entitled to protection under the Health Insurance Portability and Accountability Act of 1996 (HIPAA) or other laws.
                    <br />
                    <b>OfficerReports.com is NOT Health Insurance Portability and Accountability Act (HIPAA) certified.</b>
                </p>

                <p><strong>13. WARRANTIES</strong></p>
                <p>
                    OfficerReports.com represents and warrants that (i) OfficerReports.com has all rights necessary to grant to You the rights set forth in this Agreement; (ii) the Service will perform substantially in accordance with the user manuals and/or technical requirements documents that are generally provided by OfficerReports.com in connection with the Service.
                </p>

                <p><strong>14. DISCLAIMER OF WARRANTIES</strong></p>
                <p>
                    THE SERVICE ISPROVIDED "AS IS" AND OfficerReports.com HEREBY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE WITH RESPECT THERETO. OfficerReports.com DOES NOT WARRANT THAT OPERATION OF THE SERVICE IS ERROR-FREE OR THAT ITS OPERATION WILL BE UNINTERRUPTED. THE FOREGOING EXCLUSIONS AND DISCLAIMERS ARE AN ESSENTIAL PART OF THIS AGREEMENT AND FORMED THE BASIS FOR DETERMINING THE PRICE CHARGED FOR THE SERVICE.
                </p>

                <p><strong>15. LIMITATION OF LIABILITY</strong></p>
                <p>
                    In no event will either party be liable to the other for any indirect, consequential, special, punitive, or exemplary damages arising out of or related to this Agreement. The aggregate liability of either party to the other with respect to this Agreement is limited, to the extent possible under applicable law, to the fees collected by OfficerReports.com from You pursuant to this Agreement in the twelve months preceding the imposition of liability.
                </p>

                <p><strong>16. INDEMNIFICATION</strong></p>
                <p>
                    OfficerReports.com will, at its expense, defend or, at its option, settle any claim brought against You that the Service infringes a copyright, patent, trade secret, or any other proprietary right of any third party and will pay any final judgments awarded or settlements entered into; provided that You give prompt written notice to OfficerReports.com of any such claim and give OfficerReports.com the authority to proceed as contemplated herein. OfficerReports.com has the exclusive right to defend any infringement claim and make settlements thereof at its own discretion, and You may not settle or compromise such claim without the prior written consent of OfficerReports.com. You must give such assistance and information as OfficerReports.com reasonably requires in order to defend or settle any such claim.
                    <br /><br />
                    In the event any such infringement claim, action or allegation is brought or threatened, OfficerReports.com may, at its sole option and expense: (i) procure for You the right to continue use of the Service or infringing part thereof; (ii) modify, amend, or replace the Service or infringing part thereof with other software having reasonably comparable capabilities; or, if neither of the foregoing is commercially practicable, (iii) terminate this Agreement and refund to You the prorated amount of the Fees prepaid by You that were to apply to the remainder of the unexpired Term, as calculated from the termination date through the remainder of the unexpired Term.
                    <br /><br />
                    The foregoing obligations will not apply to the extent the infringement arises as a result of: (i) any use of the Service in a manner other than as specified in this Agreement; (ii) any use of the Service in combination with other products, equipment, devices, software, systems or data not supplied by OfficerReports.com to the extent such claim is directed against such combination; or (iii) any alteration, modification or customization of the Service made by any party other than OfficerReports.com or OfficerReports.com's authorized representative if such infringement would not have occurred without such modification or combination.
                    <br /><br />
                    This Section states the entire liability of OfficerReports.com with respect to infringement of any patent, copyright, trade secret or other intellectual property right.
                    <br /><br />
                    You shall indemnify, hold harmless and defend OfficerReports.com, at your expense, against any and all third-party claims, actions, proceedings, and suits brought against OfficerReports.com or any of its officers, directors, employees, agents or affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without limitation, reasonable attorneys' fees and other litigation expenses) incurred by OfficerReports.com or any of its officers, directors, employees, agents or affiliates, arising out of or relating to (i) your breach of this Agreement, (ii) your negligence or willful misconduct in connection with the Service, or (iii) your violations of applicable law in connection with the Services.
                </p>

                <p><strong>17. MODIFICATIONS TO TERMS OF SERVICE AND OTHER POLICIES</strong></p>
                <p>
                    OfficerReports.com reserves the right to modify any of the terms and conditions contained in this Agreement, or any policy governing the Service, at any time, by posting the new agreement to the OfficerReports.com website. You are responsible for regularly reviewing the site. Your continued use of the Service following OfficerReports.com's posting of the changes will constitute your acceptance of such changes.
                </p>

                <p><strong>18. COMPLIANCE WITH LAWS</strong></p>
                <p>
                    Each party must comply with all laws, rules or regulations applicable to such party's activities in relation to this Agreement, including export control laws of the United States which are applicable to the Service. OfficerReports.com will not provide You with any legal advice regarding compliance with data privacy or other relevant laws, rules or regulations in the jurisdictions in which You use the Service ("Laws"). You understand that the Service can be configured and used in ways that do and do not comply with Laws and it is Your sole responsibility to monitor its compliance and Your employees’ compliance with all relevant Laws.
                </p>

                <p><strong>19. SEVERABILITY AND WAIVER</strong></p>
                <p>
                    If any provision of this Agreement is held to be unenforceable for any reason, such provision shall be reformed to the extent necessary to make it enforceable. The waiver by either party of any default or breach of this Agreement shall not constitute a waiver of any other or subsequent default or breach.
                </p>

                <p><strong>20. GOVERNING LAW</strong></p>
                <p>
                    Unless prohibited by law, this Agreement shall be governed by and construed in accordance with the laws of the state of Louisiana without regard to its conflicts of laws or its principles. You agree, in the event any claim or suit is brought in connection with the OfficerReports.com's provision of the Services to you, to submit to the jurisdiction of the state of Louisiana, and agree to the 19th Judicial District Court of East Baton Rouge Parish, State of Louisiana as the appropriate forum for such claim or suit. IN NO EVENT MAY THIS AGREEMENT BE GOVERNED BY THE UNITED NATIONS CONVENTION ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS.
                    <br /><br />
                    You acknowledge that a breach of this Agreement will cause irreparable harm to OfficerReports.com. Accordingly, You agree that the OfficerReports.com shall have the right to obtain an immediate injunction against any breach or threatened breach of this Agreement, as well as the right to pursue any and all other rights and remedies available at law or in equity for such a breach. You expressly waive the right to require that OfficerReports.com post a bond or other security to obtain a Temporary Restraining Order and/or Preliminary Injunction to prevent a breach or anticipated breach of this Agreement, and further waive the right to receive notice in advance of a Temporary Restraining Order being issued.
                </p>

                <p><strong>21. U.S. GOVERNMENT RIGHTS</strong></p>
                <p>
                    If the use of the Service is being acquired by or on behalf of the U.S. Government or by a U.S. Government prime contractor or subcontractor (at any tier), in accordance with 48 C.F.R. 227.7202-4 (for Department of Defense (DOD) acquisitions) and 48 C.F.R. 2.101 and 12.212 (for non-DOD acquisitions), the Government's rights in the Software, including its rights to use, modify, reproduce, release, perform, display or disclose the Software or Documentation, shall be subject in all respects to the commercial license rights and restrictions provided in this Agreement.
                </p>

                <p><strong>22. ASSIGNMENT; CHANGE IN CONTROL</strong></p>
                <p>
                    This Agreement may be assigned by OfficerReports.com to (i) a parent or subsidiary, (ii) an acquirer of assets, or (iii) a successor by merger. Any actual or proposed change in control of You that results or would result in a direct competitor of OfficerReports.com directly or indirectly owning or controlling 50% or more of You shall entitle OfficerReports.com to terminate this Agreement for cause immediately upon written notice.
                </p>

                <p><strong>23. NOTICES AND SERVICE OF PROCESS</strong></p>
                <p>
                    OfficerReports.com may notify you via postings on www.OfficerReports.com, or by the email as provided in your account. You may contact OfficerReports.com by email at <a href="mailto:legal@OfficerReports.com">legal@OfficerReports.com</a>.<br>
                    <br>
                </p>
            </div>
            <div style="margin-bottom:8px;margin-top:8px;">
                <button type="button" id="accept-button" style="font-weight:bold;padding: 6px 12px;">I ACCEPT</button>
                <button type="button" id="no-accept-button" style="font-weight:bold;padding: 6px 12px;margin-left:6px;">I DO NOT ACCEPT</button>
                <button type="button" id="print-button" style="font-weight:bold;padding: 6px 12px;margin-left:6px;">PRINT</button>
            </div>
        </div>
    </div>

    <script id="message-template" type="text/x-kendo-template">
        <p>#= message #</p>
        <hr style="background-color: \\#cccccc; border: 0 none; height:1px; margin-top:16px; margin-bottom: 16px;">
        <div style="text-align:center;">
            <button class="ok-button k-button">OK</button>
        </div>
    </script>
    <script id="wait-template" type="text/x-kendo-template">
        <div style="text-align:center;width:170px; height:70px;">
            <div class="k-loading-image"></div>
        </div>
    </script>

    @Html.VersionedJsUrl("/Scripts/app/console.fix.js")
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/purl.js"></script>
    @Html.VersionedJsUrl("/Scripts/app/internal-misc.js")
    @Html.VersionedJsUrl("/Scripts/kendoui/v2016.1.322/kendo.all.min.js")
    @Html.VersionedJsUrl("/Scripts/app/Account/TermsConditions.js")
</body>
</html>
