
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OAuth Callback Page</title>
</head>
<body>
    <div style="padding:30px;">
        Callback Page...
    </div>
</body>
</html>
