
@{
    Layout = null;
    ViewBag.Title = "Quickbooks Enabled";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quickbooks </title>
</head>
<body>
    <div>
        <h1>The Quickbooks interface has been enabled.</h1>
        <button onclick="document.location.href = '/Home/SPA';">OK</button>
    </div>

    
</body>
</html>



